<div class="h-card">
    <p>
      Hi, my name is <span class="p-name">Sam Butler</span> and I am a human on the Internet.
    </p>

    <p>
      You can find me on other websites below:
    </p>

    <ul>
      <!-- replace _mygithubid_ with your GitHub username -->
      <!-- <li><a class="u-url" href="https://github.com/sbutler-gh" rel="me">@sbutler-gh</a></li> -->
      <!-- replace _mytwitterid_ with your Twitter username (if you have one, if not, delete the <li>…</li>) -->
      <li><a class="u-url" href="https://twitter.com/sambutlerUS" rel="me">@sambutlerUS</a></li>

      <li><a class="u-url" href="https://linkedin.com/in/sambutler8" rel="me">LinkedIn</a></li>
    </ul>
  </div>